.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 250px;
}

.fighter-preview___right > .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-data-preview___block {
  display: flex;
  height: 80px;
  width: 200px;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
  background: #ba0303;
  margin: 10px 0;
  color: #f8f9f4;
  font-size: 16px;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.fighter-property___container {
  display: flex;
  justify-content: space-between;
}

.fighter-property___line {
  display: inline-block;
  margin: 0 20px;
}